button {

    border-radius: $borderRadius;
    margin: $defaultMargin;

    &.btnDefault {
        // TODO: colours to vars
        background-color: blue;
        padding: 0.5rem;
        color: white;
    }
    &:hover {
        text-decoration: underline;
    }
    &.is-showing {
        background-color: red;
    }
    &.not-showing {
        background-color: green;
    }
}