$cell-width: 2.5rem;
$cell-space: 5px;

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(calc($cell-width + calc($cell-space * 2)) * 3);
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .cell {
            width: $cell-width;
            height: $cell-width;
            margin: $cell-space - 1;
            border: 1px solid black;
            background-color: azure;

            code {
                color: aquamarine;
                pointer-events: none;
            }
        }
    }
}