.listing {
    width: 50vw;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: $borderRadius;
    margin: 0.2rem;

    p {
        font-weight: 800;
    }

    ul {
        li {
            margin: 0.2rem;
            background-color: aliceblue;
            border-radius: $borderRadius;
        }
    }

    &.skeleton {
        background-color: $skeletonGrey1;
        @include skeltonAnimation(0.2, 0.5);
        li {
            background-color: $skeletonGrey2;
            @include skeltonAnimation(0.5, 0.9);
        }
    }
}